pluginsib.signatureserver=afirmaserver,afirmalibs

pluginsib.signatureserver.afirmaserver.class=org.fundaciobit.pluginsib.signatureserver.afirmaserver.AfirmaServerSignatureServerPlugin
pluginsib.signatureserver.afirmaserver.applicationID=XXXXXX
pluginsib.signatureserver.afirmaserver.debug=false
pluginsib.signatureserver.afirmaserver.printxml=false
pluginsib.signatureserver.afirmaserver.defaultAliasCertificate=serversigner
pluginsib.signatureserver.afirmaserver.TransformersTemplatesPath=/opt/signatureserver/transformersTemplates
pluginsib.signatureserver.afirmaserver.endpoint=https:/servidorafirma/afirmaws/services/DSSAfirmaSign
pluginsib.signatureserver.afirmaserver.endpoint_upgrade=https://servidorafirma/afirmaws/services/DSSAfirmaVerify
pluginsib.signatureserver.afirmaserver.authorization.username=XXXX
pluginsib.signatureserver.afirmaserver.authorization.password=XXXX

pluginsib.signatureserver.afirmalibs.class=org.fundaciobit.pluginsib.signatureserver.afirmalibs.AfirmaLibsSignatureServerPlugin
pluginsib.signatureserver.afirmalibs.defaultAliasCertificate=segellfnmt
pluginsib.signatureserver.afirmalibs.base_dir=/opt/signatureserver
pluginsib.signatureserver.afirmalibs.debug=true